* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #befaf6;
}

h1 {
    padding: 30px;
    font-size: 3em;
    font-weight: 200;
    font-family: "Gravitas One", "Times New Roman", serif;
    text-align: center;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 100px;
    font-size: 1.5em;
}

/*fallback font stacks, separated by commas, are used to provide the 
the browser with alternate fonts if the the preferred font is not supported*/


table {
    border: solid;
    margin: 60px auto;
    border-collapse: collapse;
    background-color: #73ff08;
    width: 80%;
}

thead {
    background-color: #9ddb6d;
}

/*thead is used to style all column heading cells collectively
  tbody and tfoot can be used in the same manner*/

th,
td {
    border: solid 2px black;
}

th {
    font-family: Merriweather, "Times New Roman", serif;
    padding: 10px;
}

td {
    font-family: "Work Sans", Arial, sans-serif;
    padding: 20px 10px;
    white-space: nowrap;
}

.code {
    background-color: #c5f99e;
    padding: 5px;
}

.html caption {
   font-family: "Gravitas One", "Times New Roman", serif; 
   padding: 20px;
}

.nfl caption {
    color: #D50A0A; 
    font-family: "Gravitas One", "Times New Roman", serif;
    font-weight: bold;
    padding: 20px;
}

.nfl th  {
    color: #D50A0A;
    background-color: #ebe8e8;

}


.vikings {
    color: #FFC62F;
    background-color: #4F2683;
}

.lions {
    color: #B0B7BC;
    background-color: #0076B6;
}

.packers {
    color: #203731;
    background-color: #FFB612;

}

.bears {
    color: #C83803;
    background-color: #0B162A;
}

.totals td {
    color: #013369;
    background-color: #ebe8e8;
    font-weight: 900;
}